{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)|^(react-dom)",
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/views",
    "^@/components",
    "^@/services",
    "^@/router",
    "^@/store",
    "^@/utils",
    "^@/config",
    "^@/styles",
    "^[./]",
    "",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "importOrderTypeScriptVersion": "5.0.0"
}
